<!-- Header -->
<nav class="navbar navbar-light bg-light" style="margin-bottom:5px">
  <a class="navbar-brand mx-auto" href="#">
    <img src="/assets/pokeball.png" width="35" height="35" class="d-inline-block mx-auto" alt="">
    <a class="app-title">{{ title }}</a>
  </a>
</nav>

<app-pokemon-card></app-pokemon-card>

<!-- Footer -->
<nav class="navbar navbar-light bg-light fixed-bottom">
  <span class="navbar-text mx-auto">
    Created by Miguel
  </span>
</nav>

<router-outlet></router-outlet>
